.nav {
  border-top: 1px green solid;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
}

.buttons #active {
  color: white;
  background-color: green;
  text-decoration: underline;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
}

.buttons li {
  padding: 0.5rem 0.7rem;
  transition: transform 0.4s ease-out;
}

.buttons > li:hover {
  cursor: pointer;
  transform: translateY(-2px);
  transition: transform 0.4s ease-out;
  background-color: green;
  color: white;
  border-color: white;
  border-radius: 1rem;
}