.nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

Link {
  text-decoration: none;
}

.buttons #active {
  color: black;
  text-decoration: underline;
}

.buttons > li:hover {
  cursor: pointer;
}