.header{
    background-color: green;
}

.about{
    width: 100%;
    padding: 78px 0px;
}

.about img{
    width: 420px;
    height: auto;
}

.discription{
    width: 550px;
}

.main{
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discription p{
    margin-bottom: 20px;
}